

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.25);
    text-decoration: none;
    width: auto;
  }

  body {
    margin: 0px;
  }
  
  .logo-name a{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: x-large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #000;
    font-weight: 700;
    text-decoration: none;
  }
  
  .nav-ul {
    list-style: none;
    margin: 0;
    padding: 0;
  } 
  .nav-ul li {
    display: inline-block;
    font-size: large;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 10px;
  }
  .nav-ul a {
    text-decoration: none;
    color: #000;
  }
  .nav-ul a:hover {
    color: #ff8000;
  }
  
  .hero-fold {
    text-align: center;
    width: 100%;
    padding-top: 90px;
    padding-bottom: 30px;
  }
  .hero-fold h1 {
    font-size: 45px;
    color: rgb(255, 55, 19);
    text-shadow: black;
    padding-left: 25px;
    padding-right: 25px;
  }
  .hero-fold p {
    font-size: 20px;
    font-family: 'Open Sans';
    padding-top: 25px;
    padding-right: 15px;
    padding-left: 15px;
  }
  .hero-fold-diversion {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    margin: 75px 0px 75px 0px;
    justify-content: space-evenly;
  }
  .hero-fold-diversion p {
    width: 40%;
    justify-content: center;
    align-items: center;
  }
  .hero-fold-diversion video {
    width: 40%;
    align-items: center;
  }

  button {
    border-radius: 45px;
    margin: 15px;
    border: none;
    width: 100px;
    height: 35px;
    font-size: medium;
    font-family: 'Open sans';
    font-weight: 700;
    background: #ffb66e;
    cursor: pointer;
  }

  .fold-2 {
    display: flex;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;
  }
  .fold-2 h2 {
    width: 65%;
    text-align: center; 
    font-family: 'Open Sans';
    font-size: 30px;
  }
  .fold-2 p {
    font-family: 'Open Sans';
    width: 65%;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    font-size: 20px;
  }
  .fold-2-diversion {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .fold-2-text-div {
    position: relative;
    display: contents;
    bottom: 60px;
    margin-top: 30px;
  }

  .fold-3 {
    display: flex;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    flex-direction: column;
    align-items: center;
    font-family: 'Open Sans';
  }
  .fold-3-text-div {
    display: flex;
    width: 65%;
    flex-direction: column;
    align-items: center;
    padding-bottom: 60px;
  }
  .fold-3-text-div h2 {
    font-size: 30px;
    text-align: center;
    font-family: 'Open Sans';
  }
  .fold-3-text-div p {
    font-size: 20px;
    text-align: center;
  }
  .fold-3-diversion {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    justify-items: center;
    row-gap: 50px;
    column-gap: 70px;
  }
  .fold-3-diversion a {
    display: contents;
  }

  @media (max-width: 916px) {
    .fold-3-diversion {
      grid-template-columns: 1fr 1fr; /* Single column layout for tablet */
      gap: 15px;
    }
    .fold-2-diversion{
      flex-direction: column;
    }
    .hero-fold-diversion{
      flex-direction: column-reverse;
    }
  }
  
  @media (max-width: 768px) {
    .fold-3-diversion {
      grid-template-columns: 1fr; /* Single column layout for mobile */
      gap: 15px;
    }
    .fold-2-diversion{
      flex-direction: column;
    }
    .hero-fold-diversion{
      flex-direction: column-reverse;
    }
  }

  .footer {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 200px;
    background-color: #FFDCA8;
    text-decoration: none;
    justify-content: space-around;
    align-items: center;
  }
  .footer-name-and-copyright {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 50%;
  }
  .footer-brand-name {
    font-size: larger;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 700;
  }

  .foot-nav a {
    color: #000;
    padding: 5px;
    text-decoration: none;
  }
  .foot-nav {
    display: flex;
    font-size: larger;
    flex-direction: column;
    font-weight: 700;
    width: 40%;
  }
  .foot-nav li {
    text-decoration: none;
  }
  .footer-copyright {
    font-size: medium;
    font-weight: 500;
  }