
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.25);
    text-decoration: none;
  }

  body {
    margin: 0px;
  }
  
  .logo-name a{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: x-large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #000;
    font-weight: 700;
    text-decoration: none;
  }
  
  .nav-ul {
    list-style: none;
    margin: 0;
    padding: 0;
  } 
  .nav-ul li {
    display: inline-block;
    font-size: large;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 10px;
  }
  .nav-ul a {
    text-decoration: none;
    color: #000;
  }
  .nav-ul a:hover {
    color: #ff8000;
  }

  .hero-fold {
    text-align: center;
    width: 100%;
    padding-top: 90px;
    padding-bottom: 30px;
  }
  .hero-fold h1 {
    font-size: 45px;
    color: rgb(255, 55, 19);
    text-shadow: black;
  }
  .hero-fold p {
    font-size: 20px;
    font-family: 'Open Sans';
    padding-right: 150px;
    padding-left: 150px;
  }

  button {
    border-radius: 45px;
    margin: 10px;
    border: none;
    width: 100px;
    height: 35px;
    font-size: medium;
    font-family: 'Open sans';
    font-weight: 600;
    background: #ffb66e;
    text-decoration: none;
  }

  .fold-2 {
    display: flex;
    padding-top: 60px;
    padding-bottom: 60px;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;
  }
  .fold-2 p {
    font-family: 'Open Sans';
  }
  .fold-2 h2 {
    padding-right: 150px;
    padding-left: 150px;
    text-align: center;
    font-family: 'Open Sans'
  }
  .fold-2-diversion {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }

  .fold-3 {
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;
    flex-direction: column;
    align-items: center;
    font-family: 'Open Sans';
  }
  .fold-3-diversion {
    display: grid;
    flex-direction: column;
  }
  .fold-3-right-vent {
    display: flex;
  }
  .fold-3-left-vent {
    display: flex;
    flex-direction: column;
  }

  .hero-fold-diversion {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 75px 15px 75px 15px;
  }

